<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wykład</title>
</head>
<body>

    <ul style="list-style: none">

        <li>
            Wykład: {{ lecture.name }}
        </li>

        <li>
            Prowadzący: {{ lecture.lecturer }}
        </li>

    </ul>

    Lista studentów:
    <ol>
        {% for stundet in lecture.students.all %}
            <li>
                {{ stundet.name }}
            </li>
        {% endfor %}
    </ol>

</body>
</html>